pkgbase = brave-beta
	pkgdesc = A web browser that stops ads and trackers by default
	pkgver = 1.21.44
	pkgrel = 1
	url = https://www.brave.com/download
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = npm<7.0.0
	makedepends = python
	makedepends = python2
	makedepends = icu
	makedepends = glibc
	makedepends = gperf
	makedepends = java-runtime-headless
	makedepends = clang
	makedepends = python2-setuptools
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = ttf-font
	depends = libva
	depends = json-glib
	optdepends = cups: Printer support
	optdepends = libpipewire02: WebRTC desktop sharing under Wayland
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce
	optdepends = kwallet: for storing passwords in KWallet on KDE desktops
	optdepends = sccache: For faster builds
	source = https://github.com/brave/brave-browser/archive/v1.21.44.tar.gz
	source = brave-launcher
	source = brave-browser-beta.desktop
	source = chromium-launcher-6.tar.gz::https://github.com/foutrelis/chromium-launcher/archive/v6.tar.gz
	source = https://github.com/stha09/chromium-patches/releases/download/chromium-88-patchset-3/chromium-88-patchset-3.tar.xz
	source = subpixel-anti-aliasing-in-FreeType-2.8.1.patch::https://git.archlinux.org/svntogit/packages.git/plain/trunk/subpixel-anti-aliasing-in-FreeType-2.8.1.patch?h=packages/chromium&id=4332a9b5a5f7e1d5ec8e95ee51581c3e55450f41
	sha256sums = 000c5380814279d1a1a259da458f0efce6e6c63d34c7df7451529b538f9cbb0a
	sha256sums = 8202fdc1dffd5839860b023cfb9fea54c25e886df1070453b939201e0df067e9
	sha256sums = 262d51ae66c14cb596ea3c46660d01ed7883ba68b5e8d005e74b9ecc4a5e355f
	sha256sums = 04917e3cd4307d8e31bfb0027a5dce6d086edb10ff8a716024fbb8bb0c7dccf1
	sha256sums = e5a60a4c9d0544d3321cc241b4c7bd4adb0a885f090c6c6c21581eac8e3b4ba9
	sha256sums = 1e2913e21c491d546e05f9b4edf5a6c7a22d89ed0b36ef692ca6272bcd5faec6

pkgname = brave-beta

